/*-------------------NULL CSS---------------*/
*{
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *,*:before,*:after {
    box-sizing: border-box;
  }

  html {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  ul, ol, li {
    list-style: none;
  }

  input, textarea {outline:none;}
  input:active, textarea:active {outline:none;}
:focus {outline:none;}
/*----------------------WRAPPER------------------------*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/*--------------------CONTAINER--------------------------*/
.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 12px;
}
.header__container {

}
/*--------------------HEADER--------------------------*/
.header {
    background-color: #F4F4F4;
    min-height: 100px;

}
.header__controls {
    display: flex;
    justify-content: space-between;
    padding-top: 52px;

}
.header__buttons {
  min-width: 170px;
  display: flex;
  justify-content: space-between;
}
.header__action-button {
  background-color:#0271C7;
  min-width: 80px;
  min-height: 26px;
  color: #FFF;
  border-radius: 2px;
  font-size: 12px;
  line-height: 117%;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
.header__action-button:hover {
  background-color: #27A1FF;
}
.header__action-button:active {
  background-color: #C2E4FE;
}
.header__action-button:disabled {
  background-color: #CFCFCF;
}
.header__search-form {
  min-width: 250px;
  height: 28px;
  background: url(img/placeholder_icon/loupe.png) left no-repeat;
  display: flex;
  justify-content: right;

}
.header__input {
  display: block;
  height: 28px;
  width: 210px;
  border: 1px solid #CFCFCF;
  border-radius: 4px;
  padding: 12px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 114%;
  background-color: #FFF;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}
::-webkit-input-placeholder {
  color:#CFCFCF;
}
.header__input:focus {
  border: 1px solid #27A1FF;
}
.header__input:invalid {
  border: 1px solid #E94E4E;
  color: #E94E4E;
}
.header__input:disabled {
  background-color: #F4F4F4;
}
/*---------------------------CALENDAR---------------------------*/
.calendar {

}
.calendar__container {

}
.calendar__nav {
  display: flex;
}
.calendar__scroll-month {
  min-width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0px;
}
.calendar__button-left {
  width: 32px;
  height: 24px;
  background: url(img/arrow/left_arrow_months_default.png) left no-repeat;
}
.calendar__button-left:hover {
  background: url(img/arrow/left_arrow_months_hover.png) left no-repeat;
}
.calendar__button-left:active {
  background: url(img/arrow/left_arrow_months_active.png) left no-repeat;
}
.calendar__button-left:disabled {
  background: url(img/arrow/left_arrow_months_disabled.png) left no-repeat;
}

.calendar__button-right {
  width: 32px;
  height: 24px;
  background: url(img/arrow/right_arrow_months_default.png) left no-repeat;
}
.calendar__button-right:hover {
  background: url(img/arrow/right_arrow_months_hover.png) left no-repeat;
}
.calendar__button-right:active {
  background: url(img/arrow/right_arrow_months_active.png) left no-repeat;
}
.calendar__button-right:disabled {
  background: url(img/arrow/right_arrow_months_disabled.png) left no-repeat;
}

.calendar__months-year {
  font-size: 18px;
  font-weight: 400;
  line-height: 117%;
  color: #292929;
}

.calendar__extra-button {
  margin: 15px 0px 15px 10px;
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
  min-width: 60px;
  height: 18px;
  color: #292929;
  font-size: 12px;
  line-height: 117%;
  font-weight: 400;
}
.calendar__extra-button:hover {
  background-color: #6B6B6B;
  color: #FFF;
}
.calendar__extra-button:active {
  background-color: #CFCFCF;
  color: #FFF;
}
.calendar__extra-button:disabled {
  background-color: #FFFFFF;
  color: #CFCFCF;
}
.calendar__days {
  box-sizing: content-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-height: 600px;
  overflow: hidden;
  border-top: 1px solid #292929;
  border-left: 1px solid #292929;
}
.calendar__days div {
  width: calc(1000px/7);
  height: 120px;
  color: #6B6B6B;
  font-size: 14px;
  line-height: 117%;
  font-weight: 400;
  border-right: 1px solid #292929;
  border-bottom: 1px solid #292929;;
  background-color: #FFF;
}

.calendar__days div:hover {
  background-color: #F4F4F4;
}
.calendar__days div:active {
  box-shadow: 0px 0px 10px 2px #0271C7;
}

.calendar__days div p {
  margin: 8px 0px 0px 8px;
}

